{% extends 'backend/master.html' %}


{% block title %}
Dashboard - NLMK PartManager
{% endblock %}

{% block content %}


<div class="col-md-10">
		<ol class="breadcrumb">
  <li><a href="{{ url_for('frontend.index') }}">Home</a></li>
  <li class="active">Admin Control Panel</li>
</ol>
		<h3>Admin Control Panel</h3><hr>

		<p>Things to do:</p>
		<ul>
			<li>Search for parts</li>
			<li>Edit part information</li>
			<li>Checkin parts</li>
			<li>Show who has checked out what part(s)</li>
			<li>Display message to admins when part quantity falls below a certain number.</li>
		</ul>
</div>

{% endblock %}
