{% extends 'frontend/master.html' %}


{% block title %}
Users - NLMK PartManager
{% endblock %}

{% block content %}
<div class="row">

</div>
<div class="col-md-1 text-center">
	<h4>Navigation</h4>
	<a href="#">Inventory</a><br>
	<a href="#">Users</a>
</div>

<div class="col-md-10">
		<ol class="breadcrumb">
  <li><a href="{{ url_for('frontend.index') }}">Home</a></li>
  <li><a href="{{ url_for('backend.index') }}">Admin Control Panel</a></li>
  <li class="active">Users</li>
</ol>
		<h3>Current Users</h3><hr>

		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading">All Users</div>
		  <!-- Table -->
		  <table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Type</th>
            <th>Date Created</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    	{% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>
            	{% if user.admin %}
            		<span class="badge">ADMINISTRATOR</span>
            	{% endif %}
            <td>{{ user.created_on }}</td>
            <td><a href="{{ url_for('backend.change_pass', userid=user.public_id) }}" title="Change Password" class="btn btn-sm btn-primary"><i class="fas fa-key"></i></a>
            	<a href="{{ url_for('backend.delete_user', userid=user.public_id) }}" title="Delete" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a> 
            	<a href="{{ url_for('backend.make_admin', userid=user.public_id) }}" title="Grant administrator rights" class="btn btn-sm btn-success"><i class="fas fa-user-shield"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
		</div>
</div>

{% endblock %}
