<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
<link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='frontend/favicons/apple-icon-57x57.png')}}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='frontend/favicons/apple-icon-60x60.png')}}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='frontend/favicons/apple-icon-72x72.png')}}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='frontend/favicons/apple-icon-76x76.png')}}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='frontend/favicons/apple-icon-114x114.png')}}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='frontend/favicons/apple-icon-120x120.png')}}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='frontend/favicons/apple-icon-144x144.png')}}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='frontend/favicons/apple-icon-152x152.png')}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='frontend/favicons/apple-icon-180x180.png')}}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='frontend/favicons/android-icon-192x192.png')}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='frontend/favicons/favicon-32x32.png')}}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='frontend/favicons/favicon-96x96.png')}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='frontend/favicons/favicon-16x16.png')}}">
<link rel="manifest" href="{{ url_for('static', filename='frontend/favicons/manifest.json')}}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ url_for('static', filename='frontend/favicons/ms-icon-144x144.png')}}">
<meta name="theme-color" content="#ffffff">
    <!-- External CSS libraries -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='frontend/css/bootstrap.css') }}">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid example5">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
                    <a class="navbar-brand" style="padding:5px;" href="{{ url_for('frontend.index') }}"><img style=" width: 128px;" src="{{ url_for('static', filename='frontend/images/logo.png')}}" alt="Dispute Bills">Instrumentation Parts Manager   </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% block content %}

{% endblock %}

<script src="{{ url_for('static', filename='frontend/js/jquery-2.2.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='frontend/js/bootstrap.min.js') }}"></script>

</body>
</html>