{% extends 'frontend/master.html' %}


{% block title %}
Dashboard - NLMK PartManager
{% endblock %}

{% block content %}

<div class="col-md-1 text-center">

</div>

<div class="col-md-10">

            <div class="well">
                    <p>SEARCH</p>

                                <form enctype="multipart/form-data" method="POST">
                                {{ form.csrf_token }}
                                <div class="form-group">
                                    {{ form.search(class="form-control") }}
                                    {% for error in form.search.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                                                <div class="form-group">
                                    {{ form.choices(class="form-control") }}
                                    {% for error in form.choices.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-success btn-lg btn-block"><i class="fas fa-search"></i> Search</button>
                                </div>                  
                                </form>
            </div>

      {% if showResults == 1 %}
      <h3>Search Results</h3>
      {% if hasParts == 1 %}
            <div class="list-group">
        {% for part in results %}
            {% if part.available_qty > 0 %}
                  <a href="{{ url_for('frontend.view_part', partid=part.partnum) }}" class="list-group-item">{{ part.partnum | upper }} {{ part.name | upper }}</a>
            {% else %}
                  <a style="font-color:color.red;" class="list-group-item">{{ part.partnum | upper }} {{ part.name | upper }} <p class="pull-right text-warning">OUT OF STOCK</p></a> 
            {% endif %} 
        {% endfor %}
            </div>
      {% else %}
           <div class="well">
              <p>No results found</p>
            </div>
      {% endif %}
        {% endif %}


{% endblock %}
