{% extends 'frontend/master.html' %}


{% block title %}
Dashboard - NLMK PartManager
{% endblock %}

{% block content %}

<div class="col-md-1 text-center">

</div>

<div class="col-md-10">

      <h3>Current Inventory</h3>
      <div class="alert alert-default">
        <p>To checkout a part, begin by locating the part you need. Click on the part and enter the desired quantity. Click the <a class="btn btn-default">Checkout</a> button.</p>
        </div>
        
            <div class="list-group">
        {% for part in parts %}
            {% if part.quantity > 0 %}
                  <a href="#" class="list-group-item">{{ part.partnum | upper }} {{ part.name | upper }}</a>
            {% else %}
                  <a href="#" style="font-color:color.red;" class="list-group-item">{{ part.partnum | upper }} {{ part.name | upper }} <span class="badge">OUT OF STOCK</span></a> 
            {% endif %} 
        {% endfor %}
            </div>
        


{% endblock %}
