{% extends 'frontend/master.html' %}


{% block title %}
Dashboard - NLMK PartManager
{% endblock %}

{% block content %}

<div class="col-md-1 text-center">

</div>

<div class="col-md-10">

      <h3>Your Parts</h3>

        {% if myparts > 0 %}
            {% for part in myparts %}
              {% if mypart > 0 %}

              {% else %}

              {% endif %}
            {% endfor %}
        {% else %}
            <div class="well">
              <p>No results to display at this time.</p>
            </div>
        {% endif %}

        


{% endblock %}
